<?xml version="1.0"?>
<config>
    <global>
        <models>
            <mpchadwick_searchautocompleteconfigmarator>
                <class>Mpchadwick_SearchAutocompleteConfigmarator_Model</class>
                <resourceModel>mpchadwick_searchautocompleteconfigmarator_resource</resourceModel>
            </mpchadwick_searchautocompleteconfigmarator>
            <mpchadwick_searchautocompleteconfigmarator_resource>
                <class>Mpchadwick_SearchAutocompleteConfigmarator_Model_Resource</class>
            </mpchadwick_searchautocompleteconfigmarator_resource>
        </models>
        <blocks>
            <catalogsearch>
                <rewrite>
                    <autocomplete>Mpchadwick_SearchAutocompleteConfigmarator_Block_Autocomplete</autocomplete>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <mpchadwick_searchautocompleteconfigmarator>
                <class>Mpchadwick_SearchAutocompleteConfigmarator_Helper</class>
            </mpchadwick_searchautocompleteconfigmarator>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <mpchadwick_searchautocompleteconfigmarator>
                    <file>mpchadwick_searchautocompleteconfigmarator.xml</file>
                </mpchadwick_searchautocompleteconfigmarator>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <search>
                <disable_autocomplete>0</disable_autocomplete>
                <hide_result_count>0</hide_result_count>
                <like_match_position>start</like_match_position>
            </search>
        </catalog>
    </default>
</config>
